.contact_wrapper svg {
  font-size: 1em;
  vertical-align: middle;
  margin-right: 5px;
}

.contact-form {
  padding-top: 20px;

  button {
    float: right;
    background-color: white;
    color: #050f0b;
  }

  button:hover {
    background-color: #5000ca;
    color: white;
  }

  fieldset {
    background-color: white;
  }
}

label {
  font-size: 1.2rem;
  font-family: 'DomaineDispNar-Medium', sans-serif;
}

.form-flex {
  display: flex;
  gap: 15px;
  padding-bottom: 15px;
}

.form-flex .MuiFormControl-root {
  width: 100%;
}

form {
  width: 100% !important;
}

.body-form {
  width: 100% !important;
  margin-bottom: 15px !important;
}

#contact {
  .contact-links {
    display: flex;
    flex-direction: column;
    gap: 15px; // Space between buttons
  }

  .contact-button {
    position: relative; // For absolute positioning of the pseudo-element
    overflow: hidden; // To hide the pseudo-element overflow
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
    border-radius: 8px; // Rounded corners
    font-weight: bold; // Bold text
    color: white; // Text color
    animation: pulse 2s infinite; // Permanent pulsing animation

    // Pseudo-element for the background effect
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 300%;
      height: 300%;
      background: rgba(255, 255, 255, 0.2); // Light background
      border-radius: 50%; // Circular shape
      transition: transform 0.5s ease; // Smooth transition
      z-index: 0; // Behind the button text
      transform: translate(-50%, -50%) scale(0); // Start scaled down
    }

    // Button text styling
    span {
      position: relative; // To keep text above the pseudo-element
      z-index: 1; // Above the pseudo-element
    }

    // Animation on hover
    &:hover {
      transform: translateY(-5px); // Lift the button
      background-color: #0077b5; // Change background color on hover
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); // Shadow on hover

      &::before {
        transform: translate(-50%, -50%) scale(1); // Scale up the pseudo-element
      }
    }
  }
}

// Keyframes for the pulsing effect
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.03); // Scale up slightly
  }
  100% {
    transform: scale(1);
  }
}